 
       button:hover {
            color: rgb(39, 88, 128);
            cursor: pointer;
        }
        .green {
            color: green;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .red {
            color: red;
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .heading {
            font-size: smaller;
            font-family: 'Arial Black', Gadget, sans-serif;
            color: rgb(47, 22, 56);
        }
        .heading1 {
            font-size: larger;
            color: rgb(84, 12, 143);
        }   
            
 